* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: 'Helvetica', Arial, sans-serif;
  /* para dar suavidade ao texto */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

header {
  width: 1024px;
  height: 64px;
  background: #4a90e2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 42px;
}

header div.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header div.profile a {
  text-decoration: none;

  font-size: 15px;
  color: #fff;

  margin-right: 16px;
}

div.content {
  width: 1024px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 24px 42px;
}

div.post {
  background: #fff;
  width: 700px;
  padding: 20px;
  margin-bottom: 16px;

  box-shadow: 2px rgba(0, 0, 0, 0.1339);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

div.post .header {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
}

div.post .header img {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  margin-right: 10px;
}

div.post .header .profile {
  display: flex;
  flex-direction: column;
}

div.post .header .profile strong {
  font-size: 14px;
  color: #4a4a4a;
}

div.post .header .profile span {
  font-size: 11px;
  color: #9a9a9a;
}

div.post .body {
  width: 100%;

  border-bottom: 2px solid #eeeeee;

  padding-bottom: 16px;
  margin-bottom: 16px;
}

div.post .body p {
  font-size: 14px;
  color: #3e3e3e;
}

div.post ul {
  height: 100%;
  list-style: none;
}

div.post ul li {
  display: flex;

  width: 100%;
  margin-top: 10px;
  position: relative;
}

div.post ul li:last-child {
  margin-left: 0;
}

div.post li img {
  width: 28px;
  height: 28px;
  flex-shrink: 0;

  border-radius: 50%;
}

div.post li .text {
  background: #eeeeee;
  border-radius: 20px;
  padding: 10px 15px;
  margin-left: 10px;

  font-size: 13px;
  color: #3e3e3e;
}
