<strong>
  Olá, {{ organizer }}
</strong>
<p>Houve uma inscrição no seu Meetup - {{ title }}, confira os detalhes abaixo:</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ usermail }} <br />
  <br />
</p>
